<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>News</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets2/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets2/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets2/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1>Niews</h1>
					<nav id="nav">
						<ul>
							<!-- <li><a href="/test">Accueil</a></li> -->
							<li><a href="/test">Accueil</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/test-group">Recherche de groupes</a></li>
							{% if staff %}
							<li><a href="#" class="icon fa-angle-down">Lien vers page administrateur</a>
							<ul>
								<li><a href="/faqadmin">FAQ pour les admins</a></li>
								<li><a href="/admingestion">Tous les courts</a></li>
								<li><a href="/adminpairgestion">Gestion des paires</a></li>
								<li><a href="/admingroupsgestion/-1">Tous les groupes</a></li>
								<li><a href="/adminresults">Tous les Résultats</a></li>
								<li><a href="/courtadmin">Vos courts</a></li>
								<li><a href="/test-match-result">Entrer les résultats</a></li>
								<li><a href="/groupgeneration">Génération des groupes</a></li>
								<li><a href="/niewsfeed">Création de news</a></li>
								<li><a href="/niewsgestion">Gestion des news</a></li>
								<li><a href="/courthistory">Historique des courts</a></li>
								<li><a href="/knockoff">Knockoff</a></li>
								<li><a href="/edittournament">Créer un tournoi</a></li>
								{% if superuser %}
								<li><a href="/knockoffsuperuser">Générer knockoff</a></li>
								<li><a href="/knockoffgestion">Gestion du knockoff</a></li>
								{% endif %}
								<li><a href="/export-db">Exporter en CSV</a></li>
							</ul>
							</li>
							{% else %}
							<li>
								<a href="#" class="icon fa-angle-down">Inscription</a>
								<ul>
									<li><a href="/test-owner">Propriétaire de terrain</a></li>
									<li><a href="test-player">Joueur</a></li>
									<li><a href="/test-tournament">Tournoi</a></li>
								</ul>
							</li>
							<li><a href="/contact" >Nous contacter</a></li>
							{% endif %}

							{% if owner %}
							<li><a href="/ownergestion" >Lien vers page owner</a></li>
							{% endif %}

							{% if not (staff or owner) %}
							<li><a href="/connect" class="button">Connexion</a></li>
							{% else %}
							<li><a href="/disconnect" class="button">Déconnexion</a></li>
							{% endif %}
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Les News </h2>
						<!-- <p>Just an assorted selection of elements.</p> -->
					</header>
					<div class="row">
						<div class="12u">

							<!-- Text -->
								<section class="box">
									<hr />
									{% if niews is empty %}
									<p> Pas de news ! </p>
									{% else  %}

									{% for n in niews %}
										<hr />
										<h4>{{n.author }}</h4>
										<blockquote>{{n.message}}</blockquote>
									{% endfor %}


									{% endif %}


								</section>

						</div>
					</div>



				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/Asmae-161275587240084/?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Tous droits réservés.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets2/js/jquery.min.js"></script>
			<script src="assets2/js/jquery.dropotron.min.js"></script>
			<script src="assets2/js/jquery.scrollgress.min.js"></script>
			<script src="assets2/js/skel.min.js"></script>
			<script src="assets2/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets2/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets2/js/main.js"></script>

	</body>
</html>
